body{
  font-size:20px!important;
}
.df{
  display: flex;
}
.f1{
  flex: 1;
}
.f2{
  flex: 2;
}
.f4{
  flex: 4;
}
.f6{
  flex: 6;
}
.f8{
  flex: 8;
}
.f10{
  flex: 10;
}
.f12{
  flex: 12;
}
.white{
  color:#fff
}

.fz18{
  font-size: 18px;
}
/*重写iview*/

.ivu-menu-item-active, .ivu-menu-item-selected{
  background: pink!important;
}
.h20{
  height: 20px;
}
.ivu-form .ivu-form-item-label{
  font-size: 16px!important;
}
